h1
{
    border-style:none;
    padding-bottom: 10px;
}
.input_testo
{
    border-style: inset;
    border-color: cadetblue;
    width: 30ch;
}
.input_numero
{
    border-style: inset;
    border-color: cadetblue;
    width: 10ch;
}
body
{
    background-color:cornflowerblue;
    color: black;
    font-family: monospace;
}

button
{
    height: 30px;
    width: 60px;
    text-align: center;
}

div {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

label {
  display: inline-block;
  width: 110px;
}

input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
}
input:valid + span::after {
  content: "✓";
  padding-left: 5px;
}