

title 
{
    color: black;
}

body
{
    background-color: antiquewhite;
}

button
{
    height: 30px;
    width: 60px;
    background-color: blue;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
}